*{
   margin: 0; 
   padding: 0; 
   box-sizing: border-box; 
}
/* -------------------------------------------------- */
/* Inizio Common */

body {
   font-family: Arial, Helvetica, sans-serif;
}

.clearfix {
   content: "";
   display: table;
   clear: both;
}

/* Fine Common */
/* -------------------------------------------------- */
/* Inizio Header */

#logo-sony {
   height: 40px;
   width: 100px;
   display: flex;
   vertical-align: middle;
}

#logo-sony img {
   width: 80%;
}

.lente {
   height: 40px;
   width: 40px;
}

.lente img {
   width: 50%;
}
/* Fine Header */
/* -------------------------------------------------- */
/* Inizio Main */

.jumbotron {
   position: relative;
   width: 100%;
   height: 900px;
   background-image: url(../img/jumbo-bg.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.interno-jumbotron {
   position: absolute;
   top: 100%;
   transform: translate(0, -100%);
   height: 500px;
   max-width: 700px;
   padding: 50px;
}
 
.interno-jumbotron img {
   height: 40px;
   width: 200px;
}
 
.main-text {
   font-size: 50px;
}

.slogan-returnal {
   font-size: 20px;
}

.returnal {
   margin-left: 30px;
   margin: 20px 0px;
}

.btn {
   border-radius: 20px;
}

.ms-btn-l {
   width: 200px;
}

/* fine jumbotron */

.giochi {
   margin: 40px 0px;
   position: relative;
}

.giochi img {
   width: 100%;
   border-radius: 20px;
}

.giochi:hover img {
   width: 100%;
   border-radius: 20px;
   padding: 3px;
   border: 2px solid rgb(3, 91, 255);
}

/* fine foto */

.ecco {
   font-size: 50px;
}

.tuffati {
   font-size: 20px;
   color: grey;
}

.box {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

.box img {
   width: 60%;
   opacity: 60%;
}

.box:hover img {
   width: 60%;
   opacity: 100%;
   border-bottom: 2px solid rgb(3, 91, 255);
}

/* jumbotron-takes */

.jumbotron-takes {
   position: relative;
   width: 100%;
   height: 900px;
   background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.interno-jumbotron-takes {
   height: 100%;
   width: 100%;
   padding: 50px;
}

#takes-logo {
   max-width: 800px;
   max-height: 550px;
}

#takes-logo img {
   width: 80%;
   height: 80%;
}

.videogiochi img {
   width: 100%;
   border-radius: 20px;
   padding: 3px;
}

.play img {
   width: 100%;
   padding: 3px;
}

/* Esperienza ps4 */

.ps-plus {
   height: 700px;
}

.april img {
   width: 100%;
}

.ps-plus-logo img {
   width: 50%;
   padding-top: 20px;
}

.ms-btn-grey {
   margin-bottom: 20px;
   background-color: lightgray;
   color: rgb(3, 91, 255);
}

.bluenight {
   background-color: #161c3b;
}

.social img {
   width: 100%;
}

/* Fine Main */
/* -------------------------------------------------- */
/* Inizio Footer */

footer {
   background-color: #00439c;
   /* height: 500px; */
}

.ps-footer img {
   width: 20%;
}

/* Fine Footer */
/* -------------------------------------------------- */

/* !DEBUG ZONE! */


@media (min-width: 992px) {

   .special {
      display: flex;
      justify-content: space-between;
   }
}

@media (max-width: 768px) {

   .april {
      display: none;
   }
}

@media (max-width: 576px) {

   .col-xs-6 { flex-basis: calc((100% / 12) * 6);}

   .social-media {
      width: 100%;
      margin: 0px;
   }

}



